name: Build
on:
  push:
    tags:
      - 'v*'
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set crystal version environement variable
        run: echo "CRYSTAL_VERSION=$(cat .crystal-version)" >> $GITHUB_ENV
      - name: Install Crystal
        uses: crystal-lang/install-crystal@v1
        with:
          crystal: ${{ env.CRYSTAL_VERSION }}
      - name: Crystal shard cache
        uses: actions/cache@v3
        with:
          path: lib
          key: ${{ runner.os }}-shards-${{ hashFiles('**/shard.lock') }}
      - name: Install dependencies
        run: shards install --production -v
      - name: Build binary
        run: shards build --static --no-debug --release --production -v
      - name: Upload binary to action artifacts
        uses: actions/upload-artifact@v3
        with:
          name: shellyplug-exporter
          path: bin/shellyplug-exporter
      - name: Create draft release with binary uploaded in it
        uses: d1ceward/draft-assets-release-action@v1
        with:
          name: shellyplug-exporter-linux-amd64
          path: bin/shellyplug-exporter
          token: ${{ secrets.GITHUB_TOKEN }}
  publish:
    name: Publish
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - uses: actions/download-artifact@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}
          logout: true
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: d1ceward/shellyplug-exporter
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          platforms: linux/amd64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
